@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Asset:100,200,300,400,500,600,700');

h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

html {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: url("../images/background.jpg") no-repeat center fixed; 
    background-size: cover;
    overflow: scroll;
    }

nav {
    line-height: 50px;
}

#main-nav {
    height: 100px;
}
 

.nav-wrapper {
    background-color: #00583d;
}

.search-wrapper {
    background-color: #00583d;
}

#search {
    vertical-align: middle;
}

.label-icon {
    margin-left: 10px;
}

::placeholder {
    font-size: 1rem;
    color: #ffffff;
    padding-left: 0.5rem;
}

.container {
    background-color: rgba(255, 248, 225, .8);
    height: auto;
    padding: 50px;
    margin-top: 50px;
}

.category {
    text-align: center;
}
.category-image {
    width: 100px;
    border:1px solid black;
    margin-bottom: 20px;
}

/*The pre tag ensures that linebreaks are preserved in text pulled from MongoDB. This style ensures that the font matches the rest of the body text and the text wraps automatically*/
pre {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    white-space: pre-wrap; /*This line ensures that the text in the pre tag wraps automatically*/
}  

h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0rem;
}

h2 {
    font-weight: 600;
    font-size: 1.75rem;
    text-align: inherit;
    margin-bottom: 0.5rem;
}

h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.container {
    text-align: center;
}

.material-icons {
    font-size: 4rem !important;
}

.brand-logo {
    font-family: "Asset", cursive;
    font-size: 3rem !important; 
    margin-left: 1rem;
    height: 100px;
}


/*Media Queries*/

@media screen and (max-width: 992px) {
  h1 {
     font-size: 7rem;
  }
  h2 {
      font-size: 4rem; 
  }
  h3 {
      font-size: 3rem;
  }
  p {
      font-size: 3rem;
  }
  nav {
      line-height: 100px;
  }
} 