<!DOCTYPE html>
<html>

<head>
	<link rel="shortcut icon" href="./assets/images/favicon.png" type="image/x-icon" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
	<title>Recipe Database</title>
</head>

<body>
	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="#!" class="brand-logo">Logo</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="">Home</a></li>
					<li><a href="">Categories</a></li>
					{% if session.username %}
					<!--If the user is logged in, they see links to add recipes, view their own recipes and log out in the navbar-->
					<li><a href="">Add a Recipe</a></li>
					<li><a href="">Your Recipes</a></li>
					<li><a href="">Log Out</a></li>
					{% else %}
					<!--If the user is not logged in, they see links to log in or register in the navbar-->
					<li><a href="">Log In</a></li>
					<li><a href="">Register</a></li>
					{% endif %}
				</ul>

				<!--Side nav for mobile devices-->
				<ul class="side-nav" id="mobile-demo">
					<li><a href="">Home</a></li>
					<li><a href="">Categories</a></li>
					{% if session.username %}
					<li><a href="">Add a Recipe</a></li>
					<li><a href="">Your Recipes</a></li>
					<li><a href="">Log Out</a></li>
					{% else %}
					<li><a href="">Log In</a></li>
					<li><a href="">Register</a></li>
					{% endif %}
				</ul>
			</div>

		</nav>

	</header>
	<div class="container">
		{% block content %} {% endblock %}
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
            $('.materialize-textarea').trigger('autoresize');
        });
	</script>
</body>

</html>