<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="../static/images/favicon.png" type="image/x-icon" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
	<title>Recipe Database</title>
</head>

<body>
	<header>
		<div class="navbar-fixed">
			<!--This ensures that the navbar remains visible when the user scrolls down the page-->
			<nav>
				<div class="nav-wrapper" id="main-nav">
					<a href="{{url_for('all_recipes')}}" class="brand-logo">RDB</a>
					<a href="#" data-activates="mobile-demo"
						class="button-collapse"><i class="material-icons">menu</i></a>
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li><a href="{{url_for('all_recipes')}}">Home</a></li>
						<li><a href="{{url_for('categories')}}">Categories</a></li>
						{% if session.username %}
						<!--If the user is logged in, they see links to add recipes, view their own recipes and log out in the navbar-->
						<li><a href="{{url_for('add_recipe')}}">Add a Recipe</a></li>
						<li><a href="{{url_for('user_recipes')}}">Your Recipes</a></li>
						<li><a href="{{url_for('logout')}}">Log Out</a></li>
						{% else %}
						<!--If the user is not logged in, they see links to log in or register in the navbar-->
						<li><a href="{{url_for('login')}}">Log In</a></li>
						<li><a href="{{url_for('register')}}">Register</a></li>
						{% endif %}
					</ul>

					<!--Side nav for mobile devices-->
					<ul class="side-nav" id="mobile-demo">
						<li><a href="{{url_for('all_recipes')}}">Home</a></li>
						<li><a href="{{url_for('categories')}}">Categories</a></li>
						{% if session.username %}
						<li><a href="{{url_for('add_recipe')}}">Add a Recipe</a></li>
						<li><a href="{{url_for('user_recipes')}}">Your Recipes</a></li>
						<li><a href="{{url_for('logout')}}">Log Out</a></li>
						{% else %}
						<li><a href="{{url_for('login')}}">Log In</a></li>
						<li><a href="{{url_for('register')}}">Register</a></li>
						{% endif %}
					</ul>
				</div>
				<div class="search-wrapper">
					<form action="{{ url_for('search')}}" method="POST">
						<div class="input-field">
							<input id="search" name="search" placeholder="Search by keyword" required>
							<label class="label-icon" for="search">
						</div>
					</form>
				</div>
			</nav>
		</div>
	</header>
	<div class="container">
        <!--If the user is logged in, they see their username at the top of each page-->
        {% if session.username %}
            <p id="login-text">Logged in as {{ session.username }}</p>
        {% else %}
            <p id="login-text">Please log in or register to add,<br>
                                edit and delete your own recipes.</p>
        {% endif %} 
            
		{% block content %} {% endblock %}
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>